* {
    margin: 0;
    padding: 0;
}
.b-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.06rem solid black;
    padding: 0;
    gap: 0.6rem;
}
.b-header {
    display: flex;
    width: 50rem;
    flex-direction: column;
    border: 0.06rem solid black;
    gap: 0.6rem;
    background-color: white;
}
.b-header__title {
    text-align: center;
    padding: 1.88rem 9.38rem ;
    border: 0.06rem solid black;
}
.b-header__add-task {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 0.06rem solid black;
    padding: 0.63rem 1rem;
    align-items: stretch;
}
.b-add-task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
}
.b-add-task__input{
    width: 20rem;
}
.b-add-task__button {
    border-radius: 20rem;
    padding: 0.5rem 2.88rem;
}
.b-main {
    display: flex;
    width: 50rem;
    flex-direction: column;
    border: 0.06rem solid black;
    gap: 0.6rem;
    background-color: white;
    padding: 0.63rem 7rem;

}
.b-main__task-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: stretch;
    background-color: white;
    gap: 0.5rem;
    text-align: center;
}
.b-task-list__item {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 0.1rem 3rem;
    text-align: center;
}
.b-task-item__title {
    flex-grow: 1;
    text-align: center;
    resize: none;
    background: transparent;
    align-self: center;
    height: 2rem;
}
.b-task-list__item--checked {
    background:
            linear-gradient(to right, black, black)
                center/100% 2px no-repeat,
            #f0f0f0;
}
.b-task-item__checkbox {
    scale: 2;
}
.b-task-item__toolbox {
    align-self: center;
}
